<!--The content below is only a placeholder and can be replaced.-->
<div>
  <h1>
    Welcome to {{ title }}!
  </h1>

  <h3>{{ statusMsg }}</h3>

  <form #registrationForm="ngForm" (ngSubmit)="onFormSubmitted(registrationForm)">
    <div>
      Username: <input type="text" name="userName" 
      required ngModel #userName="ngModel">
      <p *ngIf="userName.invalid && userName.touched" style="color:red">username is mandatory</p>
    </div>
    <div>
      Password: <input type="password" name="password" 
      required="" ngModel #password="ngModel">
    </div>
    <div>
      Email: <input type="email" name="email" required ngModel #email="ngModel">
    </div>
    <div>
      <button>Register</button>
    </div>
  </form>

  <!--<div>
    <p>Is Form submitted: {{ registrationForm.submitted }}</p>
    <p>Is Username valid: {{userName.valid}}</p>
    <p>Is Username touched: {{userName.touched}}</p>
    <p>Entered Username: {{userName.value}}</p>
    <p>Is Email valid: {{email.valid}}</p>
  </div>-->

  <h2>Built-In Pipes</h2>

  <p>Username: {{ userName.value | lowercase }}</p>
  <p>Birth Time: {{ dob | date: 'short' }}</p>

  <p>{{ request | json }}</p>

  <p>{{ salary | currency }}</p>

  <h2 [myHidden]="hidden">
    Custom Directives
  </h2>

  <h2>Custom Pipes</h2>
  <p>Username: {{ userName.value | myuppercase }}</p>

  <h2>List of products</h2>

  <ul>
    <li *ngFor="let product of products">
        {{product.name}} - {{product.category}}
    </li>
  </ul>

</div>